.loader{
  margin-bottom: 10px;
}
.progress{
  width: 100%;
  height: 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #373352;
  position: relative;
  span{
    position: absolute;
    height: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #00D749;
    width: 70%;
  }

  margin-bottom: 4px;
}
.status{
  font-size: 10px;
  line-height: 12px;
}